.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #afcfcf;
    margin: 0;
    padding: 0;
}

.navLink{
    padding: 1% 2%;
    margin: 0;
}

.navLink:hover{
    background-color: #8fbcbc;
    color: white;
}

