.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #f19082;
    margin: 0;
    padding: 0;
}

.navLink{
    padding: 1% 2%;
    margin: 0;
}

.navLink:hover{
    background-color: #eb5d47;
    color: white;
}

